{% load laces %}
<!DOCTYPE html>
<html>
<head>
    <title>Kitchen Sink</title>
</head>
<body>
    {% component fixed_content_template %}
    {% component fixed_content_return %}
    {% component passes_fixed_name %}
    {% component passes_instance_attr_name %}
    {% component dataclass_attr_name %}
    {% component passes_name_from_parent_context %}
    {% with name="Erin" %}
        {% component passes_name_from_parent_context %}
    {% endwith %}
    {% component section_with_heading_and_paragraph %}
    {% component list_section %}
</body>
</html>
