{% load laces %}
<!DOCTYPE html>
<html>
<head>
    <title>Kitchen Sink</title>
    {{ media_defining_component.media }}
</head>
<body>
    {% component fixed_content_template %}
    {% component fixed_content_return %}
    {% component passes_fixed_name %}
    {% component passes_instance_attr_name %}
    {% component passes_self %}
    {% component dataclass_attr_name %}
    {% component passes_name_from_parent_context %}
    {% with name="Erin" %}
        {% comment %}
            Override parent context through the with-block. The same component receives a different parent context.
        {% endcomment %}
        {% component passes_name_from_parent_context %}
    {% endwith %}
    {% component section_with_heading_and_paragraph %}
    {% component list_section %}
    {% component media_defining_component %}
</body>
</html>
